<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 声明了一个叫duke的Juggler类，并且构造器注入了15个豆袋子 -->
    <bean id="duke" class="com.springinaction.ch02.Juggler">
        <constructor-arg value="15"></constructor-arg>
    </bean>

    <!-- 声明了一首诗 -->
    <bean id="sonnet29" class="com.springinaction.ch02.Sonnet29"/>

    <bean id="poeticJuggler" class="com.springinaction.ch02.PoeticJuggler">
        <constructor-arg value="6"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <bean id="stage" class="com.springinaction.ch02.Stage" factory-method="getInstance"/>

    <bean id="ticket" class="com.springinaction.ch02.Ticket" scope="prototype"/>

    <bean id="ticket1" class="com.springinaction.ch02.Ticket"/>
    <bean id="ticket2" class="com.springinaction.ch02.Ticket"/>

    <bean id="auditorium" class="com.springinaction.ch02.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>

    <bean id="saxophone" class="com.springinaction.ch02.Saxophone"/>

    <bean id="kenny" class="com.springinaction.ch02.Instrumentalist">
        <property name="song" value="我的秘密"/>
        <property name="instrument" ref="saxophone"/>
    </bean>

    <!-- 注入内部bean -->
    <!--<bean id="kenny" class="com.springinaction.ch02.Instrumentalist">-->
        <!--<property name="song" value="我的秘密"/>-->
        <!--<property name="instrument">-->
            <!--<bean class="com.springinaction.ch02.Saxophone"/>-->
        <!--</property>-->
    <!--</bean>-->
</beans>